#kitext.affix {top:30px;background:white;z-index:1;padding:5px;margin-bottom:5px;}
#kitext{font-size:18pt;}
.web2py_console #w2p_keywords {width: 80%;}
.iskomyi-text{font-size:12pt;text-align:left;font-family:simsun, Nsimsun, STSong, STKaiti, sans-serif, arial;}
/*.slovo:not(:only-of-type){
    display:inline-block;
    max-width: 24%;
    height: 250px;
    line-height: normal;
    vertical-align: top;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
}*/
.txt-label{font-size:12pt;}
.l-sctn,.r-sctn{color:red}

div.slovo {
    min-height: 100px;
    height: 100px;
    padding: 0.5%;
    background: #eee;
    border-color:white;
    border-width: 3px;
    border-style: solid;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: max-height 0.6s ease-out;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
}
/*.slovo:hover {
    height:auto;
    overflow:visible;
}*/
/*.slovo{
    display:inline-block;
    height:inherit;
    width:100%;
    line-height: normal;
    vertical-align: top;
    overflow: hidden;
    text-overflow:ellipsis;
    background-color:floralwhite;
}
.slovo:hover{height:auto;overflow:visible;background-color:gainsboro;}*/

.byword td{vertical-align:top;width:25%;height:100px;}
.byword tr{vertical-align:top;}
a:hover{color:green}
.ch {font-family:simsun, Nsimsun, STSong, STKaiti, sans-serif, arial;font-size:12pt;text-align: center;}
.py{font-family:STSong, STKaiti, sans-serif, arial;font-size:12pt;font-weight:bold;}
.ru{font-family:arial;font-size:12pt;}
.highlight {background-color: yellow;}
.m1{margin-left:5%;font-size:12pt;font:bold;}
.m2{margin-left:10%;font-size:11pt;}
.m3{margin-left:15%;font-size:10pt;}
.m4{margin-left:20%;font-size:9pt;}
.green {color:green}
.ex {color:#666666}
.maroon {color:maroon}
.white {color:white}
.gray {color:gray}
.black {color:black}
.red {color:red}
.center {text-align:center}
.brown {color:brown}
.crimson {color:crimson}
.bold {font-weight:bold}
