{{response.files.extend([
#URL('static','js/jquery.highlight.js'),
URL('static','css/dabkrs.css'),
#URL('static','js/slovo-highlight.js'),
])}}
{{left_sidebar_enabled, right_sidebar_enabled=True,True}}
{{extend 'layout.html'}}
<div class="row">
    <div class="web2py_console col-md-12">
        {{=form}}
    </div>
</div>
{{=first}}
{{=bywords}}
{{=slovlist}}
{{block left_sidebar}}
<!--Левая боковая панель -->
{{end}}
{{block right_sidebar}}
<!--Правая боковая панель -->
<div>
  <div id="kitext-panel"></div>
  <div id="dsc-slovo"></div>
</div>
{{end}}
<!-- Модальное окно myModal -->
<div class="modal fade" id="myModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
        <h4 class="modal-title">Заголовок модального окна</h4>
      <div class="modal-body">
          <div>
            <button type="button" class="btn btn-info btn-sm left" id="prev-slovo">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button type="button" class="btn btn-info btn-sm right" id="next-slovo">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
          </div>
      </div>
        <p id="content"></p>
      </div>
      <div class="modal-footer">
        <div class="checkbox left">
          <label><input type="checkbox" id="exshow">Убирать примеры</label>
        </div>
        <button type="button" class="btn btn-success" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
//$(document).ready(function(){$(".ru").tooltip({title: 'Нажмите для просмотра',delay: {show: 2000, hide: 100 }});});
$(document).ready(function(){$("#w2p_keywords").focus()});
<!--Скрипт выделения текста в блоке kitext при наведении на блок slovo и отображения в правой панели-->
jQuery(".slovo").hover(
	function(){
		var a=jQuery(this).attr("i").split("-"),
            s=1*a[0],
            e=1*a[1],
            kitext=jQuery("#hidekitext").text(),
            b=kitext.substring(0,s)+"<span class='highlight'>"+kitext.substring(s,e)+"</span>"+kitext.substring(e),
            content=jQuery(this).html();
		jQuery("#kitext").html(b);
        ID = setTimeout(function(){
            jQuery("#kitext-panel").html(jQuery("#kitext").html());
            jQuery("#dsc-slovo").html(content);
        }, 500)
	},
    function(){
        clearTimeout(ID);
    }
);
//Удаляем все события .slovo при клике по ссылке
jQuery("a").click(
	function(){
        $('.slovo').unbind();
});
<!--Скрипт открытия модального окна при клике на блок slovo-->
$(".slovo").dblclick(function() {
    $("#myModal").attr('i',$(this).attr('i'));
    $("#myModal").find('#content').html($(this).html());
    var a=$(this).attr("i").split("-"),
        s=1*a[0],
        e=1*a[1],
        kitext=jQuery("#hidekitext").text(),
        b=kitext.substring(0,s)+"<span class='highlight'>"+kitext.substring(s,e)+"</span>"+kitext.substring(e);
    $("#myModal").find('.modal-title').html(b);
    if ($('input#exshow:checked').length!=0) {$("#myModal").find("div.ex").addClass("hidden");};
    $("#myModal").modal('show');
  });
//Скрипт обработки клика на кнопках модального окна
$("#prev-slovo").click(function() {
    var prev=$(".slovo[i="+$("#myModal").attr('i')+"]").prev("div.slovo").last();
    if (prev.length===0) {
        prev=$("div.slovo").last();
    };
    prev.dblclick();
});
$("#next-slovo").click(function() {
    var next=$(".slovo[i="+$("#myModal").attr('i')+"]").next("div.slovo").first();
    if (next.length===0) {
        next=$("div.slovo").first();
    };
    next.dblclick();
});
$("input#exshow").change(function() {
    $("#myModal").find("div.ex").toggleClass("hidden");
});
</script>
