{{highlight_web2py_grid=False}}
{{extend 'layout.html'}}
{{from bkrstools import create_spisok}}
<!-- Скрипт для выделения искомого текста -->
{{=SCRIPT(_src=URL('static','js/jquery.highlight.js'), _type='text/javascript')}}
<link rel="stylesheet" href="{{=URL('static','css/dabkrs.css')}}"/>
<h1>Это шаблон dabkrs/text.html</h1>
{{=DIV(form,_class="web2py_console")}}
{{=DIV(text,_class="iskomyi-text")}}
<div>
{{for x in rez:}}
{{=DIV(TABLE(TR(x[0]),TR(x[1]),TR(create_spisok(x[2]))),_class="slovo", _position=str(x[3])+"-"+str(x[3]+len(x[0])-1),_slovo=x[0])}}
{{pass}}
</div>
