{{extend 'layout.html'}}
<div class="row">
    <div class="web2py_console col-md-12">
        {{=form}}
    </div>
</div>
{{
first=rows.pop(0) if rows else ""
choises=DIV(*[UL(row.choiselist if row.choiselist else [row.slovo],_class="hidden",_id=row.id,_slovo=row.slovo) for row in rows],_class="choises")
spanlist=CAT(*[CAT(SPAN(x.element('li')[0],**dict(_id=x['_id'],_class="spanPopover",data=dict(toggle="popover")) if x['_id'] else {}),SPAN(" ")) for x in choises.elements('ul.hidden')])
}}
{{=choises}}
{{=spanlist}}
<!-- Модальное окно myModal -->
<div class="modal fade" id="myModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">Заголовок модального окна</h4>
      </div>
      <div class="modal-body">
        <p id="content"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<div class="hidden" id="mdlbtn">
    <a href="#myModal" class="btn btn-info btn-xs right" data-toggle="modal" id="editbtn"><span class="glyphicon glyphicon-pencil"></a>
</div>

<style>
    .highlight {background-color: yellow;}
    .spanPopover:hover{background-color:yellow;}
    ul[class^='popover-']>li:hover{background-color:yellow;}
</style>
<script type="text/javascript">
$(document).ready(function(){
    //Инициализация всплывающей панели
    $(".spanPopover").popover({
        html:'true',
        title: function(){return $('ul#'+$(this).attr('id')).attr("slovo")+$('#mdlbtn').html();},
        content: function(){var id=$(this).attr('id'),cntnt=$('ul#'+id).html();return '<ul class="popover-'+id+'">'+cntnt+'</ul>';},
        trigger:'click',
        placement: 'bottom'
        });
    //Скрипт для открытия панели при наведении и закрытия при перемещении влево или вправо
    /*$(".spanPopover").hover(
        function(){
            $(".spanPopover").popover({
                html:'true',
                title: function(){return $('ul#'+$(this).attr('id')).attr("slovo");},
                content: function(){var id=$(this).attr('id'),cntnt=$('ul#'+id).html();return '<ul class="popover-'+id+'">'+cntnt+'</ul>';},
                placement: 'bottom'
                });
            $(this).popover('show');
        },
        function(eventObject){
            var x=eventObject.pageX,
                y=eventObject.pageY,
                tx=$(this).position().left,
                ty=$(this).position().top,
                th=$(this).outerHeight(),
                tw=$(this).outerWidth(),
                txw=tx+tw,
                tyh=ty+th;
            if (x>txw | x<tx) {
                $(this).popover('hide');
                };
        }
    );*/
    //Обработка события всплывания панели
    $('.spanPopover').on('shown.bs.popover', function(){
        var id=$(this).attr('id'),
            spanobj=$(this),
            popoverli=$("ul.popover-"+id+">li"),
            popoverdiv=$("ul.popover-"+id).parent().parent();
        $('#editbtn').attr('edit',id)
        //Обработка клика по элементу списка в панели, выбор варианта
        popoverli.click(
            function(){
                spanobj.text($(this).text());
                spanobj.attr('choise',$(this).index());
                //var id=$(this).attr('id'),cntnttext=$(this).text();
               // $("span#5").text("dssfds");
               }
            );
        //Подсветка текста при наведении на панель,удаление подсветки и скрытие панели при выходе из панели
        popoverdiv.hover(
            function(){
                spanobj.addClass("highlight");
            },
            function(){
                spanobj.removeClass("highlight");
                spanobj.popover('hide');
            }
        );
        });
    //обработка события открытия панели
    $('#myModal').on('show.bs.modal', function (event) {
        // получить кнопку, которая его открыло
        var button = $(event.relatedTarget)
        // извлечь информацию из атрибута edit
        var id = button.attr('edit')
        var editurl='{{=URL('translater', 'display_form')}}'
        ajax(editurl+'?id='+id,[],'content');
        // вывести эту информацию в элемент, имеющий id="content"
        //$(this).find('#content').text(content);
})
    });

</script>
